<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Narrow It Down</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
  <style>
    /* Add your CSS styles here */
  </style>
</head>
<body>
  <div ng-controller="NarrowItDownController as narrowCtrl">
    <h1>Menu Item Search</h1>
    <input type="text" ng-model="narrowCtrl.searchTerm" placeholder="Search menu items...">
    <button ng-click="narrowCtrl.narrowItDown()">Narrow It Down For Me!</button>

    <div ng-if="narrowCtrl.foundItems.length > 0">
      <ul>
        <li ng-repeat="item in narrowCtrl.foundItems">
          <strong>{{ item.name }}</strong> ({{ item.short_name }}) - {{ item.description }}
          <button ng-click="narrowCtrl.onRemove($index)">Don't want this one!</button>
        </li>
      </ul>
    </div>

    <p ng-if="narrowCtrl.foundItems.length === 0 && narrowCtrl.searchTerm">Nothing found</p>
  </div>
</body>
</html>
